:root {
  --background-color: hsl(0, 8%, 12%);
  --text-color: hsl(0, 0%, 100%);
}

.magenta {
  background-color: hsl(300, 83%, 18%);
}

.green {
  background-color: hsl(93, 80%, 33%);
}
