:root {
  --background-color: hsl(0, 3%, 16%);
  --text-color: hsl(0, 0%, 100%);
}

.magenta {
  background-color: hsl(300, 92%, 34%);
}

.green {
  background-color: hsl(53, 82%, 34%);
}
